#career-form h1{
    color: green;
}

#career-form p{
    text-align: justify !important;
    text-justify: newspaper !important;
}

#career-form h1:after{
    content: '';
    display: block;
    background: green;
    height: 2px;
}
/*.form-control:focus{ border-color: #4DB748!important;  box-shadow: #4DB748; -webkit-box-shadow: none;}*/
.form-control:focus {
    outline: none !important;
    /*border:1px solid red;*/
    border-color: #4DB748 !important;
    box-shadow: 0 0 10px green !important;
}
form .btn{
    margin-bottom: 15px;
}

select{
    background-color: white;
    border-radius: 10px;
}
